@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --line-torq: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="209" height="14" fill="none"><path stroke="%23D0EAEC" stroke-width="4" d="M1 7.543C44.254 3.038 122.728-4.132 208 12"/></svg>');
  --line-pink: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="209" height="14" fill="none"><path stroke="%23E992B1" stroke-width="4" d="M1 7.543C44.254 3.038 122.728-4.132 208 12"/></svg>');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  line-height: 1.4;
  font-size: 16px;
  min-height: 100%;
  padding: 0;
}

main,
footer,
header {
  padding: 1.5rem;
}

.work-sans-400 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  line-height: 1.4;
}

.accent-line {
  margin-left: -7px;
  margin-right: -7px;
  padding-right: 7px;
  padding-left: 7px;
  display: inline-block;
  background-image: var(--line-pink);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 100%;
}

.accent-line:hover {
  background-image: var(--line-torq);
}

.animated-section-wrapper {
  margin-top: 20rem;
}

.animated-section {
  width: 100%;
  height: auto;
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .section-animation {
    animation: wipe-enter 0.5s 1;
  }
}
